<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <div class="container">

        <h3>Please confirm your information</h3>

        <p> <%= firstName %></p>

    </div>
</body>
</html>