<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>

<body class="submit">
    <h4 ><%= firstName %> ,Thank you for registering  with us  </h4>
    <p id='submit'>This is to to confirmt that we received your information and we will contact you soon </p>


</body>
<%- include('./partials/footer.ejs') %>

</html>